[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyside2" = "*"
"win10toast" = "*"
gitpython = "*"
svn = "*"
infi-systray = {version = "*", markers = "python_version == '<3.7'"}

[dev-packages]

[requires]
python_version = "3.7"
